
h3#reg{
	font-family: Arial;
}

input{
	font-family: Arial;
	border-radius: 5px;
	margin: 5px 0;
	font-size: 15px;
}

input#button{
	border-radius: 10px;
	margin: 10px 0;
}

form{ 
	background-color:#d9d9d9 ;
    padding: 45px;
    border-radius: 15px;
    margin: 0 auto;
	left: 50%;
    top: 35%;
    position: absolute;
    transform: translate(-50%, -40%);
   
}

*.fehlerfeld{
	color: red;
}